/* .layui-table[lay-even] tr:nth-child(odd) {
    background-color: blue;
} */
.layui-table[lay-even] tr:nth-child(even), .my-table-even{
    background-color: rgb(220,244,255);
}
/* .layui-table tbody tr:hover, .layui-table-hover{
    background-color: rgb(119,211,248);
} */
/* 表格头部工具栏背景色 */
.layui-table-tool{

}
.layui-table td,.layui-table th,.layui-table tr,.layui-table-col-set,.layui-table-fixed-r,.layui-table-grid-down,.layui-table-header,.layui-table-page,.layui-table-tips-main,.layui-table-total,.layui-table[lay-skin=line],.layui-table[lay-skin=row]{
    border-width:1px;
    border-style:solid;
    border-color:#bbb
}
/* 行高 */
.layui-table-ceil {

}
.layui-table th{
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(155, 223, 255);
    color: black;
}
.layui-table td{
    font-size: 16px;
    color: black;
}
.layui-table tr{
    color: black;
}

.layui-elem-field legend{
    font-size: 20px;
    /* font-weight: bold; */
    color: black;
}
.layui-form-label{
    font-size: 16px;
    width: 115px;
}
.layui-input-block{
    margin-left: 145px;
}
.layui-input, .layui-textarea{
    font-size: 16px;
}
.layui-form-radio div{
    font-size: 16px;
}
.layui-form-radio:hover *,.layui-form-radioed,.layui-form-radioed>i{
    color: rgb(30,159,255);
}
.layui-btn{
    font-size: 16px;
}
.layui-btn .layui-btn-xs{
    font-size: 14px;
}
.layui-nav * {
    font-size: 20px;
}
.layui-nav .layui-nav-item a {
    color: #e5e5e5;
    font-weight: 550;
    /* color: rgba(255,255,255,.7); */
}
.layui-nav .layui-nav-child a {
    color: rgba(0,0,0,.8);
}
#Time{
    text-align: center;
}
.layui-tree-txt{
    font-size: 15px;
}
.layui-tab-title li{
    font-size: 16px;
}
.layui-table-tips-main{
    font-size: 16px;
    color: black;
}
.layui-icon{
    margin-right: 5px;
}
.layui-tree-iconClick{
    margin-right: 0px;
}
.layui-nav .layui-this:after, .layui-nav-bar{
    background-color: #ff5722;
}
.my-title{
    text-align: center;
}
.my-title legend{
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: rgb(30,159,255)!important;
    background-color: rgb(30,159,255);
    color: #fff;
}

.layui-tab-title li{
    width: 32%;
    font-size: 20px;
    font-weight: bold;
}
.layui-tab-bar[lay-stope="tabmore"]{
    display: none;
}
.layui-tab-brief > .layui-tab-title .layui-this {
    color: rgb(30,159,255);
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom-color: rgb(30,159,255);
}